# Python
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
wheels/
*.egg-info/
*.egg

# Virtual environments
.venv/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/

# Environment variables
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

*.agents/

../docs
